[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
aiohttp-devtools = "*"
v = {editable = true,version = "*"}
flake8 = "*"

[packages]
aiohttp = "*"
aiohttp-jinja2 = "*"
markdown2 = "*"
gunicorn = "*"
aioredis = "*"
cchardet = "*"
aiodns = "*"
brotlipy = "*"
uvloop = "*"
ujson = "*"

[requires]
python_version = "3.7"
