aiohttp==3.6.2
aiohttp-debugtoolbar==0.6.0
aiohttp-devtools==0.13.1
aiohttp-jinja2==1.2.0
astroid==2.3.3
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.5
cffi==1.13.2
chardet==3.0.4
Click==7.0
devtools==0.5.1
idna==2.8
isort==4.3.21
Jinja2==2.11.1
lazy-object-proxy==1.4.3
markdown2==2.3.8
MarkupSafe==1.1.1
mccabe==0.6.1
multidict==4.7.4
pycodestyle==2.5.0
pycparser==2.19
Pygments==2.5.2
pylint==2.4.4
six==1.14.0
v==0.0.0
watchgod==0.5
wrapt==1.11.2
yarl==1.4.2
