/* General */

body {
    max-width: 20cm;
    margin: 0 auto;
    padding: 0;

    font-family: 'Poppins', sans-serif;
    font-stretch: 80%;
}

a.logo {
    margin: 0;
    padding: 0;
    font-size: xx-large;
    text-transform: uppercase;
}

header, main, footer {
    margin: 1rem 0;
    padding: 0 1rem;
}

hr {
    margin: 1rem 0.5rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

a:active {
    color: #7fff00;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

h1 {
    margin: 0;
    font-size: x-large;
}

p {
    text-align: justify;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.801);
    font-weight: 300;
}

/* Header */

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header>nav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
}

header>a.logo, header>nav>li {
    margin-right: 0.75rem;
}

header>hr {
    display: block;
}

/* List */

ul.list {
    margin-top: 2rem;
    font-size: x-large;
}

ul.list>li {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    text-align: center;
}

@media(min-width: 600px) {
    ul.list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
    }
}

/* Object */

div.meta {
    margin-top: 2rem;
}

@media(min-width: 600px) {
    div.meta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
    }
}

ul.social,
ul.streaming {
    font-size: large;
    margin: 1rem 0;
}

ol.tracklist {
    list-style: decimal-leading-zero;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

p.meta {
    font-size: large;
    font-weight: 400;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
}

p.meta>a {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
}

.store {
    font-size: x-large;
    font-weight: 400;
}

/* Footer */

footer {
    font-size: small;
}