{% extends "base.html.jinja2" %}

{% block title %}Artists — NEOPLASM{% endblock title%}

{% block main %}
<main class="list">

    {% for artist in artists %}
        <section>
            <a href="artists/{{ artist.link }}"><img src="{{ artist.image_path }}"></a>
            <a href="artists/{{ artist.link }}"><h2>{{ artist.display_name }}<h2></a>
        </section>
    {% endfor %}

</main>    
{% endblock main %}
