{% extends "base.jinja2" %}

{% block title %}{{ display_name }} — NEOPLASM{% endblock title%}

{% block main %}
<div class="meta">
    <img src="{{ image_path }}" alt="artist image">
    <div>
        <h1>{{ display_name }}</h1>
        <ul class="social">
            {% for link in social_links %}
            <li><a href="{{ link.href }}" target="_blank" rel="noopener noreferrer">
                {{ link.display_name }}
            </a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{{ description|safe }}
{% endblock main %}
