{% extends "base.jinja2" %}

{% block title %}Artists — NEOPLASM{% endblock title%}

{% block main %}
<ul class="list">
    {% for artist in artists %}
    <li>
        <a href="artists/{{ artist.link }}">
            <img src="{{ artist.image_path }}" alt="{{ artist.display_name }} image">
            {{ artist.display_name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock main %}