<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ static('style.css') }}" media="screen">
        <title>{% block title %}{% endblock title %}</title>
        {% endblock head %}
    </head>
    <body>

        <div>
        
            <header>
                <h1><a href="/">Neoplasm</a></h1>
                <nav>
                    <li><a href="/artists">Artists</a></li>
                    <li><a href="/releases">Releases</a></li>
                    {# <li><a href="/items">Items</a></li> #}
                    <li><a href="/events">Events</a></li>
                    <li><a href="/about">About</a></li>
                </nav>
            </header>
            <hr>

            {% block main %}
            
            {% endblock main %}
            
        
            <footer>
                <hr>

                <ul>
                    <h4>NEOPLASM</h4>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">VK</a></li>
                    <li><a href="#">Telegram</a></li>
                    <li><a href="#">Bandcamp</a></li>
                    <li><a href="#">Soundcloud</a></li>
                    <li><a href="#">Email</a></li>
                </ul>

                <p>Website is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>. NEOPLASM©<time datetime="2020">2020</time></p>
               

            </footer>

        </div>

    </body>
</html>