{% extends "base.jinja2" %}

{% block title %}Events — NEOPLASM{% endblock title%}

{% block main %}
<ul class="list">
    {% for event in events %}
    <li>
        <a href="events/{{ event.link }}">
            <img src="{{ event.image_path }}" alt="{{ event.display_name }} poster">
            {{ event.display_name }}<br><time datetime="{{ event.date.strftime('%Y-%m-%d') }}">{{ event.date.strftime('%d %b %Y') }}</time>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock main %}