{% extends "base.jinja2" %}

{% block title %}{{ display_name }}{% endblock title%}

{% block main %}

<div class="meta">
    <img src="{{ image_path }}" alt="event poster">
    <div>
        <h1>{{ display_name }}</h1>
        <p class="meta">
            <time datetime="{{ date.strftime('%Y-%m-%d') }}">
                {{ date.strftime('%d %b %Y') }}
            <time>
            <br><a href="{{ location.href }}" target="_blank" rel="noopener noreferrer">
                @{{ location.display_name }} ({{ location.city }})
            </a>
        <p>
        <ol class="lineup">
            {% for artist in lineup %}
            <li>{{ artist }}</li>
            {% endfor %}
        </ol>
        {% if past == false and soldout == false%}
        <p><a class="store" href="{{ tickets_href }}" target="_blank" rel="noopener noreferrer">Buy Tickets...</a></p>
        {% elif past == false and soldout == true %}
        <p><a class="store" href="{{ tickets_href }}" target="_blank" rel="noopener noreferrer">Sold out.</a></p>
        {% endif %}
        <ul class="social">
            {% for link in links %}
            <li><a href="{{ link.href }}" target="_blank" rel="noopener noreferrer">
                {{ link.display_name }}
            </a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{{ description|safe }}
{% endblock main %}
