{% extends "base.html.jinja2" %}

{% block title %}Events — NEOPLASM{% endblock title%}

{% block main %}
<main class="list">

    {% for event in events %}
        <section>
            <a href="events/{{ event.route }}"><img src="{{ static(event.poster) }}"></a>
            <a href="events/{{ event.route }}"><h2>{{ event.name }}<br><time datetime="{{ event.date.strftime('%Y-%m-%d') }}">{{ event.date.strftime('%d %b %Y') }}</time><h2></a>
        </section>
    {% endfor %}

</main>    
{% endblock main %}
