{% extends "base.jinja2" %}

{% block title %}Releases — NEOPLASM{% endblock title%}

{% block main %}
<ul class="list">
    {% for release in releases %}
    <li>
        <a href="releases/{{ release.link }}">
            <img src="{{ release.image_path }}" alt="{{ release.display_name }} album cover">
            {{ release.artist.display_name }} — {{ release.display_name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock main %}