{% extends "base.html.jinja2" %}

{% block title %}{{ display_name }} — NEOPLASM{% endblock title%}

{% block main %}
<main>

    <div class="flex">

        <div><img src="{{ image_path }}"></div>

        <div>
            <h2><a href="/artists/{{ artist.link }}">{{ artist.display_name }}</a> — {{ display_name }} </h2>
            
            <ul class="streaming">
                {% for link in streaming_links %}
                    <li><a href="{{ link.href }}" target="_blank">{{ link.display_name }}</a></li>
                {% endfor %}
            </ul>

        </div>
       
    </div>

    <article>
        {{ description|safe }}
        <p>released on <time datetime="{{ date }}">{{ date }}</time>
        <br>© All right reserved</p>
    </article>

    <ol class="tracklist">
        {% for track in tracklist %}
            {% if track.featuring %}
            <li>{{ track.display_name }} <a href="{{ track.featuring.href }}">(feat. {{ track.featuring.display_name }}) </a><time>{{ track.length }}</time></li>
            {% else %}
            <li>{{ track.display_name }} <time>{{ track.length }}</time></li>
            {% endif %}
        {% endfor %}
        {% if tracklist|count > 1 %}
        <p>Total Lenght: <time>{{ total_length }}</time></p>
        {% endif %}
    </ol>
    
</main>
{% endblock main %}
