{% extends "base.html.jinja2" %}

{% block title %}Releases — NEOPLASM{% endblock title%}

{% block main %}
<main class="list">
    {% for release in releases %}
        <section>
            <a href="releases/{{ release.link }}">
                <img src="{{ release.image_path }}">
            </a>
            <a href="releases/{{ release.link }}">
                <h2>{{ release.artist.display_name }} — {{ release.display_name }}<h2>
            </a>
        </section>
    {% endfor %}
</main>
{% endblock main %}
