{% extends "base.jinja2" %}

{% block title %}{{ display_name }} — NEOPLASM{% endblock title%}

{% block main %}
<div class="meta">
    <img src="{{ image_path }}">
    <div>
        <h1><a href="/artists/{{ artist.link }}">{{ artist.display_name }}</a> — {{ display_name }}</h2>
        <ul class="streaming">
            {% for link in streaming_links %}
            <li><a href="{{ link.href }}" target="_blank">
            {{ link.display_name }}
            </a></li>
            {% endfor %}
        </ul>
        {% if item %}
        <p><a class="store" href="/items/{{ item.link }}">
                Physical release avaliable...
        </a></p>
        {% endif %}
    </div>
</div>
{{ description|safe }}
{% if toBeReleased %}
    <p>release on <time datetime="{{ date }}">{{ date }}</time>
{% else %}
    <p>released on <time datetime="{{ date }}">{{ date }}</time>
{% endif %}

<br>© All rights reserved</p>
<ol class="tracklist">
    {% for track in tracklist %}
        {% if track.featuring %}
        <li>{{ track.display_name }} <a href="{{ track.featuring.href }}">(feat. {{ track.featuring.display_name }}) </a><time>{{ track.length }}</time></li>
        {% else %}
        <li>{{ track.display_name }} <time>{{ track.length }}</time></li>
        {% endif %}
    {% endfor %}
    {% if tracklist|count > 1 and total_length != '00:00' %}
    <p>Total Lenght: <time>{{ total_length }}</time></p>
    {% endif %}
</ol>
{% endblock main %}
