{% extends "base.html.jinja2" %}

{% block title %}{{ name }} — NEOPLASM{% endblock title%}

{% block main %}
<main>

    <div class="flex">

        <div><img src="{{ static(cover) }}"></div>

        <div>
            <h2><a href="{{ artist.route }}">{{ artist.name }}</a> — {{ name }} </h2>
            
            <ul class="streaming">
                {% for link in links %}
                    <li><a href="{{ link.href }}" target="_blank">{{ link.name }}</a></li>
                {% endfor %}
            </ul>

        </div>
       

    </div>

    <article>
        {{ description|safe }}
        <p>released on <time datetime="{{ release_date.strftime('%Y-%m-%d') }}">{{ release_date.strftime('%Y-%m-%d') }}</time>
        <br>© All right reserved</p>
    </article>

    <ol class="tracklist">
        {% for track in tracklist %}
        <li><span>{{ track.name }} </span><time datetime="{{ track.lenght_string_html }}">{{ track.lenght_string }}</time></li>
        {% endfor %}
        {% if tracklist|count > 1 %}
        <p>Total Lenght: <time datetime="{{ total_lenght_html }}">{{ total_lenght }}</time></p>
        {% endif %}
    </ol>
    


</main>
{% endblock main %}
